# Prevents __pycache__ from being committed
*.pyc

# Prevents databases from being committed
*.db

# Prevents SSL Certificates from being committed
*.crt
*.key

# Prevents settings from being committed
settings.json