html,
body {
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#particles {
    background: linear-gradient(480deg, #8437a6, #a66bbf);
    position: absolute;

    height: 100%;
    width: 100%;
}

.login {
    --height: 500px;
    --width: 470px;
    background-color: #ffffff90;
    padding: 50px;

    position: fixed;
    left: 50%;
    margin-left: calc((var(--width) + 100px) / -2);
    top: 50%;
    margin-top: calc((var(--height) + 100px) / -2);
    z-index: 1;

    height: var(--height);
    width: var(--width);
    backdrop-filter: blur(4px);
}

.login-form {
    position: relative;
    top: 65px;
}

.login-title {
    margin: 0;
}

.login-link {
    display: inline-block;
    color: #5a3095;
}

.login-link:hover {
    text-decoration: underline;
}

.button {
    color: #ffffff;
    font-size: 1.5rem;
    background-color: #4D1473;

    display: block;
    position: relative;
    left: 85px;
    bottom: 0px;

    height: 50px;
    width: 300px;
}

.form-row {
    margin-bottom: 40px;
}

.text-field {
    font-family: sans-serif, monospace;
    border: none;
    box-shadow: none;
    background: transparent;
    outline: none;
    display: block;
    border-bottom: 2px solid #afafaf;
    font-size: 1.5em;
    width: 100%;
}

.text-field:focus,
.text-field:active {
    border-bottom: 2px solid #5a3095;
}

input[type=submit] {
    background: linear-gradient(-240deg, #8437a6, #7613a0);
    color: #ffffff;
    border: 3px solid transparent;
    margin: 30px 7.5%;
    font-size: 1.4em;
    width: 85%;
    height: 50px;
}

input[type=submit]:hover {
    border-color: #7613a0;
    background: transparent;
    color: #7613a0;
}

input[type=checkbox] {
    margin-top: 20px;
    transform: scale(1.3);
}

.forget {
    position: relative;
    display: block;
    left: 50%;
    margin-left: -81px;
}