a {
    color: #7f1ad1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body,
html {
    margin: 0;
    overflow: hidden;
    font-family: "Segoe UI";
}

.error {
    color: #ff5d5d;
}

.form-row {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

#effect,
#background {
    position: absolute;
    width: 100%;
    height: 100%;
}

#background {
    background: var(--img) center no-repeat;
    background-size: cover;
    transition: 0.8s transform ease;
    z-index: 0;
}

#mail-field input:not(:placeholder-shown)+.holder,
#pass-field input:not(:placeholder-shown)+.holder,
#mail-field input:focus+.holder,
#pass-field input:focus+.holder {
    opacity: 1;
    font-size: 1em;
    top: -1em;
}

#login {
    user-select: none;
    position: absolute;
    padding: 44px;
    width: var(--width);
    height: var(--height);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffcc;
    backdrop-filter: blur(6px);
    transition: 0.4s background-color ease;
    z-index: 2;
}

#login:hover {
    background-color: #ffffff;
}

#login:hover+#background {
    transform: scale(1.05);
}

#login:hover+#background+#effect {
    opacity: 1;
}

#login h1 {
    margin: auto;
    font-weight: 600;
}

#login form {
    position: relative;
    overflow: hidden;
    width: 100%;
    top: 20px;
    height: var(--form);
}

#effect {
    opacity: 0;
    transition: 0.6s opacity ease;
    z-index: 1;
}

footer {
    justify-content: space-between;
    align-items: center;
    background-color: #000000cc;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    z-index: 2;
}

footer a {
    margin: 2px 15px auto;
    color: #ffffff;
}

#fieldset0,
#fieldset1 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

#next,
#sign {
    position: absolute;
    outline: none;
    bottom: 0px;
    right: 0px;
    background: #af65ec;
    border: none;
    font-size: 1.1em;
    color: #ffffff;
    width: 130px;
    height: 35px;
    cursor: pointer;
}

#mail-field,
#pass-field {
    position: relative;
    display: inline-block;
    width: var(--width);
}

#mail-field .holder,
#pass-field .holder {
    pointer-events: none;
    position: absolute;
    font-size: 1.2em;
    left: 0;
    top: 6px;
    transition: 0.2s all;
    opacity: 0.5;
}

#mail-field input,
#pass-field input {
    font-size: 1.1em;
    font-weight: 400;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #777777;
    width: 100%;
    height: 2em;
}

#mail-field input:focus,
#pass-field input:focus {
    border-color: #7f1ad1;
}

#background {
    --img: url('../img/login.jpg');
}

#effect {
    backdrop-filter: blur(16px);
}

#login {
    --width: 352px;
    --height: 280px;
    --form: 70%;
}

#fieldset0>a,
#fieldset1>a {
    position: relative;
    top: 40px;
}

#mail-field,
#pass-field {
    --width: 100%;
}
