<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/{{ style }}">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}
    {% endblock %}

    <div id="background"></div>
    <div id="effect"></div>
    
    <footer>
        {% block image %}
        {% endblock %}
        <a href="https://github.com/GabeLins/improved-login">Github Repo</a>
    </footer>
</body>
</html>