{% extends "layout.html" %}
{% block content %}
<h1>Reset Password</h1>
<p>Just one more step...</p>

<form class="sign-form" method="POST">
    <div class="form-row">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password">
    </div>
    <div class="form-row">
        <label for="confirm">Confirm Password</label>
        <input type="password" id="confirm" name="confirm">
    </div>

    <input type="submit" id="submit" value="Done">
</form>
{% endblock %}